body{
   text-align: center; 
   background-color: rgb(246, 222, 7);
}
.mainarea{
    display:flex;
    justify-content: space-around;
}
.editors{
    background-color: #0a0700;
    color:rgb(245, 227, 227);
    width: 50%;
}
textarea{
    background-color: rgba(29, 27, 22, 0.714);
    color:rgb(245, 227, 227);
    width: 100%;
    min-height:300px;
    overflow:scroll;
    font-size:x-large
}
label {
    font-size: 35px;
}
iframe{
    width: 90%;
    height: 13cm;
    background-color:whitesmoke;
    margin-right: 60px;
    margin-left: 40px;
}